html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

#myTable {
  position: relative;
  display: inline-table;
  left: 50px;
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
  background-color: rgba(255,255,255,0.4);
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
          box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}

td, th {
  border: 1px solid #ddd;
  background: rgba(255,255,255,0.4);
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.page-header {
  width: 50%;
  text-align: right;
  letter-spacing: 4px;
  padding-right: 10px;
  padding-top: 2px;
  padding-left: 4px;
  padding-bottom: 9px;
  margin-left: 75px;
  border-bottom: 1px solid #eee;
  border-radius: 12px;
  margin-bottom: 20px;
  background-color: rgba(255,255,255,0.4);
  /*border-radius: 4px;*/
}

h1 {
  margin: .67em 0;
  font-size: 2em;
}


